/* .bgcolor {
  background-image: url("../../Images/landbg.jpg");
  background-repeat: "no-repeat";
  width: "250px";
} */
.GeeksForGeeks {
  background-image: url("../../Images/landbg.jpg");
  background-size: "cover";
  height: 100vh;
  font-size: 50px;
  back: 0.5;
  background-repeat: no-repeat;
}

.logodisp {
  width: 20px;
}
